/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--secondary-text-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-text-color);
}

.dark {
  --body-background-color: black;
  --background-color: #121212;
  --header-color: #181818;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #B3B3B3;
}

html, body {
  --scrollbar-width: 14px;
  --title-bar-height: 25px;

  --body-background-color: white;
  --background-color: white;
  --header-color: white;
  --primary-text-color: black;
  --secondary-text-color: gray;
}

.empty {
  position: absolute;
  min-width: 100px;
  min-height: 25px;
  display: none;
  outline: 1px solid gray;
  resize: both;
  overflow: hidden;
  background-color: var(--background-color);
}

.container {
  width: 100%;
  height: calc(100% - var(--title-bar-height));
  padding: 5px;

  /* https://melvingeorge.me/blog/avoid-height-width-increase-when-using-margin-padding-outline-on-html-element-tags */
  box-sizing: border-box;

  color: var(--secondary-text-color);
  overflow-y: auto;
  overflow-x: hidden;

  /* https://css-tricks.com/scrollbars-on-hover/ */
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent var(--scrollbar-width), black var(--scrollbar-width));
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent var(--scrollbar-width), black var(--scrollbar-width));
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.container:hover {
  -webkit-mask-position: left top;
  mask-position: left top;
}

.header {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  padding: 0px 3px;
  border-bottom: 1px solid gray;
  height: var(--title-bar-height);
  background-color: var(--header-color);
  color: var(--primary-text-color);
}

.buttonContainer {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  float: right;
  padding: 0px 3px;
  border-bottom: 1px solid gray;
  height: var(--title-bar-height);
  background-color: var(--header-color);
}

.button {
  margin: auto;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-text-color);
}

.dock-box {
  background-color: gray;
  display: flex;
  transition: background-color 0.3s;
}

.dock-box-container {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid orange;
  box-sizing: border-box;
}

.resizer {
  background-color: #cbd5e0;
  cursor: col-resize;
  height: 100%;
  width: 5px;
}

.draggable.dragging {
  opacity: 0.5;
}

.draggable {
  cursor: pointer;
}