@import "gui/guiStyle.css";

html, body {
  font-family: 'Menlo', sans-serif;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;

  margin: 0px;
  background-color: black;
  overflow: hidden;
}