@import "./gui/guiStyle.css";

html,
body {
  font-family: 'Menlo', sans-serif;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0px;
  background-color: black;
  /* overflow: hidden; */
}

* {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  position: absolute;
}